In [1]:
# La almohadilla sirve para comentar, no se ejecutan como codigo.
# Rem, comentario.
# Una Variable. es donde se almacenan datos en la Ram
# Como asignar un valor a una variable con el (=)
X=5
print(X) # Con print me imprime el resultado, el output

5

In [4]:
print(X+2)

<class 'NameError'>: name 'X' is not defined

In [3]:
x=4
print (x+X)

9

In [4]:
# puedo asignar una cadena alfanumerica (texto), mediante comillas dobles o simples
a="1"

print (x+a)

<class 'TypeError'>: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
#Como convertir un STR a un numero con la funcion Int o float
print(X+int(a))

6

In [6]:
#int = numeros enteros, float decimales
#la funcion str() convierto numeros en texto
print(X)

5

In [7]:
#Sobretodo para la funcion print podemos contatenar texto con el +
print("El resultado es "+str(X))

El resultado es 5

In [8]:
#En programacion es importante el concepto contador.
X = X+1
print(X)

6

In [9]:
X+=1
print(X)

7

In [10]:
#El caracter * en e texto sirve para repeticion
y = "hola"
print(y*3)

holaholahola

In [11]:
#Concatenar strings con el operador +, si es numero primero el str()
q="Hoy es "
w="Hallowen"
print(q+w)

Hoy es Hallowen

In [13]:
#Las listas en Python son variables que almacenan arrays o matrices de datos
Lista = ["Pan","Leche","Carne","Pescado",15]
print(x)
print(Lista)

4
['Pan', 'Leche', 'Carne', 'Pescado', 15]

In [14]:
#Como acceder a un objeto de la Lista, con el indice y empezamos por la izquierda por el O
Lista[0]

'Pan'

In [15]:
Lista[2]

'Carne'

In [29]:
#Practica 1
Semana=["Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"]
Texto= "El día de la semana es:"
print(Texto,Semana[2])# La coma actua como espacio
print(Texto+Semana[2])

El día de la semana es: Miercoles
El día de la semana es:Miercoles

In [37]:
#Practica 2
impar=["1","3","5","7","9","11"]
texto1="El cuarto numero impar es: "
print(texto1+impar[3])

El cuarto numero impar es: 7

In [77]:
#Practica 2 variante
impar=[1,3,5,7,9,11]
texto1="El cuarto numero impar es: "
print(texto1+str(impar[3]))

El cuarto numero impar es: 7

In [39]:
#Para saber cuantos elementos tiene una lista len(Semana
len(Semana)

7

In [40]:
len(impar)

6

In [46]:
#Como añadir un elemento al final de una lista, con la funcion append()
impar.append(str(13))
impar.append(13)
impar

[1, 3, 5, 7, 9, 11, 13, 13, 13, '13', '13', 182, '13', 13]

In [47]:
#Como contar cuantos valores son iguales en una lista
#Con la funcion count
impar.count(13)

4

In [51]:
#INSERTAR un valor a una lista con la funcion instert
impar.insert(3, 21)
impar

[1, 3, 5, 21, 21, 21, 21, 7, 9, 11, 13, 13, 13, '13', '13', 182, '13', 13]

In [66]:
#Practica 3
meses=["Enero","Febrero","Abril","Junio","Julio","Agosto","Septiembre"]

In [75]:
meses.append("Octubre")
meses.append("Noviembre")
meses.append("Diciembre")
meses.insert(2,"Marzo")
meses.insert(4,"Mayo")
meses.append("Marzo")
meses.append("Abril")
print("El numero de elementos de la lista es "+str(len(meses)))
print("E mes de marzo esta "+str(meses.count("Marzo"))+ (str(" repetido")))
print(meses)

El numero de elementos de la lista es 35
E mes de marzo esta 8 repetido
['Enero', 'Febrero', 'Marzo', 'Marzo', 'Mayo', 'Marzo', 'Mayo', 'Marzo', 'Mayo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre', 'Marzo', 'Abril', 'Octubre', 'Noviembre', 'Diciembre', 'Marzo', 'Abril', 'Octubre', 'Noviembre', 'Diciembre', 'Marzo', 'Abril', 'Octubre', 'Noviembre', 'Diciembre', 'Marzo', 'Abril']

In [63]:
#Como eliminar un elemento de una lista, con la funcion remove(), elimina el primero que encuentra desde la izquierda
meses.remove("Marzo")
meses

['Enero',
 'Febrero',
 'Abril',
 'Mayo',
 'Junio',
 'Julio',
 'Agosto',
 'Septiembre',
 'Octubre',
 'Noviembre',
 'Diciembre',
 'Marzo',
 'Abril']

In [78]:
#Funciones de resumen, max el numero mas grande
max(impar)

11

In [79]:
#El numero mas pequeño con min 
min(impar)

1

In [80]:
#la suma con sum()
sum(impar)

36

In [82]:
#la funcion range(x) nos da una lista con el numero de elementos que le pidamos 
range(0,6)
print(range(6))

range(0, 6)

In [83]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [84]:
#funcion list para crear una lista
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [93]:
#imput, sirve para pedir a un usuario, el programa queda detenido hasta que el usuario haga intro
respuesta = input()

tu nombre es: <Future pending>

 Alex

In [94]:
print("tu nombre es: "+str(respuesta))

tu nombre es: <Future finished result='Alex'>

In [96]:
#Funciones de texto para modificar un valor dentro de una cadena en str
parrafo="Hoy es Domingo"
resultado = parrafo.replace("Hoy","Ayer")
resultado = resultado.replace("es","era")
print(resultado)

Ayer era Domingo

In [98]:
#Convertir todo a mayusculas con la funcion upper

resultado.upper()

'AYER ERA DOMINGO'

In [99]:
#En minusculas con lower
resultado.lower()

'ayer era domingo'

In [100]:
#Como crear nuestras propias funciones personalizadas.

#Primero la palabra clave def, segundo los parametros de la funcion(), tercero(:)
#cuato el codigo de la funcion, necesita identacion y necesita codigo de retorno
def suma10(x):
    print(x+10)

In [101]:
suma10(30)

40

In [102]:
suma10(25)

35

In [104]:
#Puedo pasar valores separados por comas
def suma2valores(x,y):
    print(x+y)

In [105]:
suma2valores(5,8)

13

In [18]:
#Para ver las variables y funciones en el kernel creadas
%whos

Variable      Type        Data/Info
-----------------------------------
calculoedad   function    <function calculoedad at 0x3269f60>

In [133]:
#Practica 4 
def calculoarea(base,altura):
    
    area=round((base*altura)/2,4)
    print("El area del triangulo es "+str(area))

In [138]:
calculoarea(4,5)

El area del triangulo es 10.0

In [ ]:
#con la funcion round, le dire el numero de decimales que quiero
#round(valor, num de decimales)

In [149]:
#El condicional con IF
edad = 18

if edad <18:
    print("Menor de edad")
else:
    print("Mayor de edad")

introduce la edad

<class 'TypeError'>: '<' not supported between instances of 'tuple' and 'int'

 30

In [153]:
numero =31
if numero<20:
    print("entre 0 y 20")
elif numero<40:
    print("entre 20 y 40")
else:
    print("mayor de 40")

entre 20 y 40

In [161]:
edad = (print("introduce la edad "),input())

introduce la edad

 30

In [2]:
#Practica 5
def calculoedad (nombre,edad):
    
    if edad<0:
        print("Edad incorrecta")
    elif edad>=0 and edad<=9:
            decada=0
            print(("La persona ")+str(nombre)+(" tiene ")+str(edad)+(" esta en la decada de los ")+str(decada))
    elif edad>=10 and edad<=19: 
            decada=10 
            print(("La persona ")+str(nombre)+(" tiene ")+str(edad)+(" esta en la decada de los ")+str(decada))
    elif edad>=20 and edad<=29:
            decada=20
            print(("La persona ")+str(nombre)+(" tiene ")+str(edad)+(" esta en la decada de los ")+str(decada))
    elif edad>=30 and edad<=39:
            decada=30
            print(("La persona ")+str(nombre)+(" tiene ")+str(edad)+(" esta en la decada de los ")+str(decada))
    elif edad>=40 and edad<=49:
            decada=40
            print(("La persona ")+str(nombre)+(" tiene ")+str(edad)+(" esta en la decada de los ")+str(decada))
    elif edad>=50 and edad<=59:
            decada=50
            print(("La persona ")+str(nombre)+(" tiene ")+str(edad)+(" esta en la decada de los ")+str(decada))
    elif edad>=60 and edad<=69:
            decada=60
            print(("La persona ")+str(nombre)+(" tiene ")+str(edad)+(" esta en la decada de los ")+str(decada))
    elif edad>=70 and edad<=79:
            decada=70
            print(("La persona ")+str(nombre)+(" tiene ")+str(edad)+(" esta en la decada de los ")+str(decada))
    elif edad>=80 and edad<=89:
            decada=80
            print(("La persona ")+str(nombre)+(" tiene ")+str(edad)+(" esta en la decada de los ")+str(decada))
    elif edad>=90 and edad<=99:
            decada=90
            print(("La persona ")+str(nombre)+(" tiene ")+str(edad)+(" esta en la decada de los ")+str(decada))
    elif edad>=100:
            print("Edad incorrecta")

In [3]:
calculoedad ("Alex",13)

La persona Alex tiene 13 esta en la decada de los 10

In [31]:
#Practica 5 variante profesor
def calculoedad2 (nombre,edad):
    
    if edad<1:
        print("Edad incorrecta")
    else:
        if edad>=1 and edad<=9:
                decada="Decada 0"           
        elif edad>=10 and edad<=19: 
                decada="Decada 10"
        elif edad>=20 and edad<=29:
                decada="Decada 10"
        elif edad>=30 and edad<=39:
                decada="Decada 10"
        elif edad>=40 and edad<=49:
                decada="Decada 10"
        elif edad>=50 and edad<=59:
                decada="Decada 10"
        elif edad>=60 and edad<=69:
                decada="Decada 10"
        print("La persona " +nombre+ " con edad igual a "+str(edad)+ " pertenece a la " +decada )

In [32]:

calculoedad2 ("pedro",0)

Edad incorrecta

In [36]:
#Segundo dia de clase 9/11/2022
#El bucle en python, es un codigo que se repite hasta que se cumple una condicion dada
#Dos tipos de bucles, finito y infinito
#Los finitos son los que finalizaran si o si.
#Los infinitos son los que puede que terminen o no
#El bucle for seria el finito
for i in [1,2,3]:
    print(i)
for j in [1,2,3]:
    print("El valor de la variable es " + str(j))

1
2
3
El valor de la variable es 1
El valor de la variable es 2
El valor de la variable es 3

In [39]:
for dias in ["Lunes","Martes","Miercoles", "Jueves", "Viernes"]:
    print("El dia de la semana es "+dias)

El dia de la semana es Lunes
El dia de la semana es Martes
El dia de la semana es Miercoles
El dia de la semana es Jueves
El dia de la semana es Viernes

In [49]:
palabra = "Python"
for letra in palabra:
    if letra == "h":
        break
    else:
        print(letra)
#Como salir de un bucle cuando me interesa con el comando break

P
y
t

In [44]:
#Range era una funcion que nos daba numeros del 1 al X, pero empieza por 0
for i in range(1,10,2): # 1 el inicio 10 valor final 2 es el step
    print(i)

1
3
5
7
9

In [46]:
for j in range(10,0,-1): # 1 el inicio 10 valor final 2 es el step
    print(j)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#Operadores de comparacion 
== igual que
> mayor que
< menor que
>= mayor o igual
!= distinto

In [45]:
#Practica 6 vamos a crear una función llamada todo_menos_s en la que pasaremos como parámetro una palabra.
#El objetivo es imprimir esa palabra, sin la letra S (si es que la lleva)
#utilizar la funcion upper()
def todo_menos_s(nombre):
    for letra in nombre:
        if letra.upper() == "S" or letra.upper()== "T":
            continue
        else:
            print(letra)

In [27]:
todo_menos_s("CASTILLO")

C
A
I
L
L
O

In [79]:
#Practica 6 bis variante crear un segundo parametro en la funcion para controlar si la letra impresa sera en mayusculas o minusculas
#
def todo_menos_s_t(nombre,tab):
    for letra in nombre:
        if letra.upper() == "S" or letra.upper()== "T":
            continue
        else:
            if tab==0:
                print(letra.upper())
            elif tab ==1:
                print(letra.lower())

In [82]:
todo_menos_s_t("CASTILLO",0)

C
A
I
L
L
O

In [ ]:
#Practica 6 bis bis 
def todo_menos_s_t2(nombre,tab):
    alfa = 0   #si es 0 al final del primer buvlre haria la impresion, si es 1 
                # solo mostraria el mensaje no hay ni s ni T y salidria
    for letra in nombre:
        if letra.lower() != "S" or letra.lower()!= "T":
            alfa = 1
        else 
            alfa = 0
            
    if alfa = 0  #impreme las letras      
            
    else: #mostramos el mensaje
            
            if tab==0:
                print(letra.upper())
            elif tab ==1:
                print(letra.lower())

In [1]:
#Practica 7 , vamos a crear una función llamada print_4 en la que pasaremos como parámetro una palabra.
#El objetivo es imprirmir las 4 primeras letras de la palabra (controlar que la palabra tenga 5 o mas letras)
def print_4(nombre):
    contador = 0
    for letra in nombre:
        contador = contador + 1
        print(letra)
        if contador == 4:
            break

In [2]:
print_4("samsung")

s
a
m
s

In [3]:
#EL bucle infinito , while...
i =1
while i<=3: # mientras el valor de la i sea igual o menor a 3 ejecuto el mismo codigo
    print(i)
    i = i + 1
print ("Terminado con exito")

1
2
3
Terminado con exito

In [5]:
#necesita de una variable que controle el numero de iteracion o el valor
i = 1
while i <=50:
    print (i)
    i =3*i+1
print ("Terminado con exito")

1
4
13
40
Terminado con exito

In [9]:
#vamos a trabajar con una libreria de python
#libreria Pandas sirve para trabajar con datos
#tenemos que instalar la libreria Pandas en nuestro PC
# comando pip list sirve para ver las librerias instaladas en el pc
import pandas as pd #pd es el nombre que le ponemos al pandas

In [11]:
#clase de objeto series, una serie es una estructura de una dimension, son homogeneos.
#todos los datos de la serie tienen que ser del mismo tipo, en este caso string, no se se puede mezclar
es = pd.Series (["lunes","martes","miercoles","jueves","viernes"])
print(es)

0        lunes
1       martes
2    miercoles
3       jueves
4      viernes
dtype: object

In [12]:
es[0]

'lunes'

In [13]:
es[4]

'viernes'

In [14]:
num = pd.Series([8,16,25,7,36])
print (num)

0     8
1    16
2    25
3     7
4    36
dtype: int64

In [15]:
#Resumen descriptivo de una serie, numero de elementos de la serie
num.count()

5

In [16]:
#La suma de los valores de la serie
num.sum()

92

In [18]:
num.max() # el numero mas grande de la serie

36

In [19]:
num.min() # el numero mas pequeño de la serie

7

In [20]:
num.mean() # nos da el promedio de los valores de la serie

18.4

In [22]:
num.cumsum() #vemos el valor acumulado de la serie

0     8
1    24
2    49
3    56
4    92
dtype: int64

In [24]:
num.describe() # un resumen de los datos de la serie ,std la desviacion estandar

count     5.000000
mean     18.400000
std      12.218838
min       7.000000
25%       8.000000
50%      16.000000
75%      25.000000
max      36.000000
dtype: float64

In [25]:
#Operaciones en una Serie
num + 3

0    11
1    19
2    28
3    10
4    39
dtype: int64

In [36]:
# Ordenar una serie
num.sort_values(ascending=True)

3     7
0     8
1    16
2    25
4    36
dtype: int64

In [34]:
#Practica 9 vamos a crear una serie llamada felix, con los siguientes numeros 45.12,85.60,23.70,64.22,104.25
#queremos ver individualmente los valores mas grande, mas pequelo el promedio y la suma, verlos ordenados de mayor a menor
#la suma acumulada y la cantidad de valores
import pandas as pd
felix = pd.Series([45.12, 85.60, 23.70, 64.22, 104.25])

In [42]:
felix.max()

104.25

In [43]:
felix.min()

23.7

In [48]:
felix.mean()

64.578

In [47]:
felix.sum()

322.89

In [46]:
felix.cumsum()

0     45.12
1    130.72
2    154.42
3    218.64
4    322.89
dtype: float64

In [49]:
felix.sort_values(ascending=False)

4    104.25
1     85.60
3     64.22
0     45.12
2     23.70
dtype: float64

In [52]:
#el Data frame de pandas, es una estructura de dos dimensiones
import pandas as pd
df = pd.DataFrame([["Maria",25,1.68],["Luis",34,1.72],["Pedro",28,1.80],["Monica",42,1.59]],columns=["Nombre","Edad","Estatura"])
print(df)

   Nombre  Edad  Estatura
0   Maria    25      1.68
1    Luis    34      1.72
2   Pedro    28      1.80
3  Monica    42      1.59

In [53]:
df["Edad"]

0    25
1    34
2    28
3    42
Name: Edad, dtype: int64

In [55]:
df["Edad"].max()

42